extends layout/base

block head
  title= title

block body
  nav.navbar.navbar-inverse
    div.container-fluid
      div.navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") #{i18n.__("Logo")}
      div#myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(onclick="direct_url('/')") #{i18n.__("Home")}
          li#login
            a(onclick="direct_url('/login')") login
          li#signup
            a(onclick="direct_url('/signup')") signup
          li#logout
            a(href="/logout") log out
        form.navbar-form.navbar-right(role="search")
          div.form-group.input-group
            input.form-control(type="text" placeholder="...")
            span.input-group-btn
              button.btn.btn-default(type="button")
                span.glyphicon.glyphicon-search
        ul.nav.navbar-nav.navbar-right
          li(style='top:10px;')
            button(onclick="replace_language('?lang=EN')") EN
          li(style='top:10px;')
            button(onclick="replace_language('?lang=DK')") DK
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#")
              span.glyphicon.glyphicon-user
              |  #{i18n.__("My account")}

  div.container.text-center
    div.row
      div.col-sm-3.well
        div.well
          p
            a(href="#") #{i18n.__("W3School")}
          img.img-circle(src="/img/1.png" height="65" width="65" alt="Avatar")
        div.well
          p
            a(href="#") #{i18n.__("Anja")}
          p
            span.label.label-default
              | #{i18n.__("Jane")}
            span.label.label-primary
              | #{i18n.__("Interests")}
            span.label.label-success
              | #{i18n.__("New")}
         div.alert.alert-success.fade.in
           a.close(href="#" data-dismiss="alert" aria-label="close")
           p
             strong #{i18n.__("People are looking at your profile. Find out who.")}
           | 111
        p
          a(href="#") #{i18n.__("I am a student.")}
        p
          a(href="#") #{i18n.__("I am a student.")}
        p
          a(href="#") #{i18n.__("I am a student.")}
      div.col-sm-7
        div.row
          div.col-sm-12
            div.panel.panel-default.text-left
              div.panel-body
                p(contenteditable="true") #{i18n.__("My account")}
                button(type="button").btn.btn-default.btn-sm
                  span.glyphicon.glyphicon-thumbs-up 111
        div.row
          div.col-sm-3
            div.well
              p 111
              img.img-circle(src="/img/2.png" height="55" width="55" alt="Avatar")
          div.col-sm-9
            div.well
              p 111
        div.row
          div.col-sm-3
            div.well
              p 111
              img.img-circle(src="/img/3.png" height="55" width="55" alt="Avatar")
          div.col-sm-9
            div.well
              p 111
        div.row
          div.col-sm-3
            div.well
              p 1111
              img.img-circle(src="/img/1.png" height="55" width="55" alt="Avatar")

          div.col-sm-9
            div.well
              p 1111
        div.row
          div.col-sm-3
            div.well
              p Anja
              img.img-circle(src="/img/4.jpg" height="55" width="55" alt="Avatar")
          div.col-sm-9
            div.well
              p 111
      div.col-sm-2.well
        div.thumbnail
          p 1111
          img(src="/img/6.png" alt="Paris" width="400" height="300")
          p
            strong Paris
          p 1111
          button.btn.btn-primary.Info
        div.well
          p 1111
        div.well
          p 1111


  footer.container-fluid.text-center
    p #{i18n.__("Copy right Daniel... 2017")}
